

<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">PickupPoint - Dropping Point</th>
      <th scope="col">Contact Details</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bus of buslist;">

      <td>{{ bus.name }}</td>
      <td>{{ bus.from }} - {{ bus.to }}</td>
      <td>{{ bus.contact }}</td>
       <td>
        <div class="row">
          <div class="col-md-3">
          <button routerLink="/admin-update-busDetail/{{bus.id}}" class="btn btn-warning">Edit</button>
          </div>
          <div class="col-md-3">
            <button (click)="deleteBus(bus.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
       </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
 <ngb-pagination
  [collectionSize]="(collectionSize?.valueOf() ?? 0)"
  [(page)]="page"
  [pageSize]="pageSize"
  (pageChange)="refreshCountries()"
></ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
<!-- </div> -->
